# Dependencies
node_modules
.pnpm-store
/.pnp
.pnp.js

# Next.js
.next
out

# NestJS / build outputs
dist
build

# Turbo
.turbo

# testing
/coverage

# IDE
.vscode
.idea
*.iml

# Misc
.DS_Store
*.log
npm-debug.log
yarn-error.log
pnpm-debug.log

# Env
.env
.env.local
.env.*.local
